
html, body
{
  --f52: 153, 153, 153 !important;
  --h5f: 0, 100, 200 !important;
  --g2b: 150, 00, 00 !important;
  --c37: 237, 73, 86 !important;
  --a96: 255, 255, 255 !important;
  --f36: 237, 73, 86 !important;
  --eca: 255, 255, 255 !important;
  --jb7: 0, 0, 0 !important;
  --f75: --d69 !important;
  --fa7: 223, 239, 255 !important;
  --ba8: 178, 178, 178 !important;
  --c74: 112, 192, 80 !important;
  --eac: 237, 73, 86 !important;
  --i1d: 180, 180, 180 !important;
  --edc: 199, 199, 199 !important;
  --b38: 219, 219, 219 !important;
  --c90: 239, 239, 239 !important;
  --b3f: 250, 250, 250 !important;
  --cdc: 30, 30, 30 !important;
  --f07: 180, 180, 180 !important;
  --fe0: 0, 125, 255 !important;
  --f23: 25, 25, 25 !important;
  --b6a: 40, 40, 40 !important;
  --d0b: 219, 219, 219 !important;
  --cf6: 178, 178, 178 !important;
  --ce3: 40, 40, 40 !important;
  --jd9: 0, 0, 0 !important;
  --j64: 54, 54, 54 !important;
  --a97: 243, 243, 243 !important;
  --d20: 38, 38, 38 !important;
  --ia0: 244, 250, 255 !important;
}

.-fzfL
{
  color: rgba(var(--i1d),1);
}

svg, .s4Iyt
{
  filter: invert(100%);
}

img, ._6RZXI, .mlrQa, ._41KYi, .BvMHM
{
  background-color: transparent !important;
}

a, button, .jQgLo, main, header, footer, article, .DPiy6, span, h1, h2, .zGtbP, .jLuN9, label
{
  background-color: transparent !important;
}

div.Igw0E.IwRSH.eGOV_._4EzTm._5VUwz.ZUqME > div
{
  height: 434px !important;
}

div._22l1, div._9AhH0
{
  display: none !important;
}